.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  padding: 2rem;
  padding-top: 4rem;
}

.main h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.main p {
  font-size: 1.2rem;
}
